[user]
	name = Brian Skarda
	email = brian.skarda@opower.com
[core]
	editor = vim
	excludesfile = ~/.gitignore_global
	autocrlf = input
[merge]
	tool = kdiff3
[diff]
	tool = vimdiff
[color]
	ui = true
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold
[push]
	default = current
[hub]
	host = github.va.opower.it
[pager]
	diff = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	log = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
	show = /usr/local/share/git-core/contrib/diff-highlight/diff-highlight | less
[alias]
    clone = clone --origin upstream
    fetch = fetch --all
    remote = remote
    rv = remote --verbose
    a = add
    c = commit
    cv = commit --verbose
    ca = commit --amend --verbose
    r = rebase
    ri = rebase --interactive
    ra  = rebase --abort
    rc  = rebase --continue
    ru  = rebase -i upstream/master
	b = branch -v
    mt = mergetool
    st = status
    co = checkout
    p = push
    po = push origin
    pof = push origin -f
    pbs = push brian-skarda
    pbsf = push brian-skarda -f
    graph = log --graph --pretty=oneline
[mergetool]
	keepBackup = false
[merge "ours"]
	driver = true
[remote]
	pushdefault = origin
[rebase]
	autoStash = true
