.CFUserTextEncoding
.NERDTreeBookmarks
.Trash/
.account
.bash_history
.bash_sessions/
.berkshelf/
.bundle/
.cache/
.chef/
.chefdk/
.config/
.dotfiles/
.git_templates/
.jenv/
.kitchen/
.lesshst
.local/
.m2/
.nbprofiler/
.npm/
.nvm/
.oracle_jre_usage/
.parallel/
.profile
.psql_history
.scep/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.vagrant.d/
.vim/bundle/
.viminfo
.wget-hsts
.workup/
Applications/
Desktop/
Documents/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
b.skarda.json
consumers.txt
notes.md
oss/
queues.txt
rabbitmq-perf-test/
running.txt
source/
