*
!.SpaceVim.d/init.toml
!.base16-eighties.dark.sh
!.bash_profile
!.bashrc
!.brewlist
!.bskarda_env_setup.bash
!.bskarda_extra_empty
!.ctags
!.dircolors
!.dotfiles_linux
!.dotfiles_osx
!.fzf.bash
!.fzf.zsh
!.git-completion.bash
!.git-prompt.sh
!.gitconfig
!.gitignore
!.gitignore_global
!.ideavimrc
!.irssi/*
!.iterm2/*
!.nvim/ftplugin/*
!.nvimrc
!.ssh/config
!.ssh/rc
!.tmux-osx.conf
!.tmux.conf
!.vim/ftplugin/*
!.vim/swapfiles/.keep
!.vimrc
!.zshrc
!README.md
!bin/*
