.CFUserTextEncoding
.NERDTreeBookmarks
.Trash/
.account
.bash_history
.bash_sessions/
.berkshelf/
.bundle/
.cache/
.chef/
.chefdk/
.config/
.dotfiles/
.git_templates/
.jenv/
.kitchen/
.lesshst
.local/
.m2/
.nbprofiler/
.npm/
.nvm/
.oracle_jre_usage/
.parallel/
.profile
.psql_history
.scep/
.ssh/id_rsa
.ssh/id_rsa.pub
.ssh/known_hosts
.vagrant.d/
.vim/bundle/
.viminfo
.wget-hsts
.workup/
Applications/
Desktop/
Documents/
Downloads/
IdeaProjects/
Library/
Movies/
Music/
Pictures/
Public/
VirtualBox VMs/
b.skarda.json
consumers.txt
notes.md
oss/
queues.txt
rabbitmq-perf-test/
running.txt
source/
.bskarda_extra_cvent
.cargo/
.cups/
.docker/
.gnupg/
.gradle/
.groovy/
.htoprc
.multirust
.node-gyp/
.rustup/
.scala_history
.swn
.v8flags.4.5.103.35.76f0e4b89cd407b31a00bfb6e0124fd5.json
15k.headers
9k.headers
Collect.tgz
agg_jenkins.bash
batch_agg_issues.txt
batch_processes.txt
batch_processes_anl.txt
decom_notes.txt
dump/
java_process_allocationtxt
java_process_names.txt
java_process_names_yaml.txt
java_processes.txt
left
open_source/
right
notes/
.IdentityService/
.mono/
.pry_history
.rnd
.templateengine/
aws_keys/
logs/
notebook/
